
$color-dark-cyan: hsl(180, 29%, 50%);
$color-background:hsl(180, 52%, 96%);
$color-filter-tablets:hsl(180, 31%, 95%);
$color-dark-grayish-cyan: hsl(180, 8%, 52%);
$color-very-dark-grayish-cyan:hsl(180, 14%, 20%);

$fw-regular:500;
$fw-bold:700;
